@font-face
{
    font-family: monarch_font;
    src: url('monarch_font.ttf')
}

.main_wrapper img
{
    height: 150px;
    width: 150px;
    margin: 70px 85px 0px 85px;
}

.main_wrapper p
{
    margin: 0px 30px 30px 30px;
    width: 260px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 18px;
    font-family: monarch_font;
}

.main_wrapper h1
{
    text-align: center;
    margin-top: 10px;
    vertical-align: center;
    font-family: monarch_font;
    font-weight: normal;
    width: 1280px;
    font-size: 44px;
}

.main_wrapper h2
{
    display: inline-block;
    width: 240px;
    margin: 30px 40px;
    font-size: 26px;
    text-align: center;
    vertical-align: top;
    font-family: monarch_font;
    font-weight: normal;
}

.main_wrapper a
{
    display: inline-block;
    width: 200px;
    height: 44px;
    margin: 20px 60px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: monarch_font;
    text-decoration: none;
    padding-top: 11px;
}

.main_wrapper .rouge
{
    background-color: rgb(231,76,60);
}

.main_wrapper .bleu
{
    background-color: rgb(52,152,219);
}

.main_wrapper .vert
{
    background-color: rgb(46,204,18);
}

.main_wrapper .violet
{
    background-color: rgb(127,136,193);
}