@font-face
{
    font-family: monarch_font;
    src: url('monarch_font.ttf');
}

.main_wrapper
{
    margin-left:auto;
    margin-right:auto;
}

.main_wrapper p
{
    display: inline-block;
    text-align: center;
    font-family: monarch_font;
}

.main_wrapper h1
{
    text-align: center;
    font-family: monarch_font;
    font-weight: normal;
    margin: auto;
}

.main_wrapper h2
{
    display: inline-block;
    text-align: center;
    font-family: monarch_font;
    font-weight: normal;
}

.main_wrapper a
{
    color: white;
    font-family: monarch_font;
    text-decoration: none;
    vertical-align: text-bottom;
}

.main_wrapper a:hover
{
    text-decoration: underline;
    color: white;
}

.main_wrapper div
{
    display: inline-block;
    text-align: center;
}

section
{
    display: inline-block;
    vertical-align: top;
}

.rouge
{
    background-color: rgb(231,76,60);
}

.bleu
{
    background-color: rgb(52,152,219);
}

.vert
{
    background-color: rgb(46,204,118);
}

.violet
{
    background-color: rgb(127,136,193);
}

@media screen and (min-width: 1280px) /*Ordis HD*/
{
    .main_wrapper
    {
        width: 1280px;
        padding: 40px;
    }

    .main_wrapper img
    {
        height: 100px;
        width: 100px;
        margin: 30px 100px;
    }

    .main_wrapper p
    {
        width: 240px;
        margin: 20px 30px 0px 30px;
        font-size: 18px;
        height: 320px;
    }

    .main_wrapper h1
    {
        width: 1220px;
        font-size: 30px;
    }

    .main_wrapper h2
    {
        width: 240px;
        margin: 0px 30px;
        font-size: 24px;
        height: 60px;
    }

    .main_wrapper a
    {
        font-size: 24px;
    }

    section div
    {
        width: 190px;
        height: 43px;
        margin: 20px 55px;
        line-height: 43px;
    }
    
    section
    {
        width: 300px;
    }
}

@media screen and (max-width: 1279px) and (min-width: 1025px) /*Laptops et desktops courants*/
{
    .main_wrapper
    {
        width: 1025px;
        padding: 32px;
    }

    .main_wrapper img
    {
        height: 80px;
        width: 80px;
        margin: 24px 80px;
    }

    .main_wrapper p
    {
        width: 192px;
        margin: 16px 24px 0px 24px;
        font-size: 14px;
        height: 256px;
    }

    .main_wrapper h1
    {
        width: 977px;
        font-size: 24px;
    }

    .main_wrapper h2
    {
        width: 192px;
        margin: 0px 24px;
        font-size: 19px;
        height: 48px;
    }

    .main_wrapper a
    {
        font-size: 19px;
    }

    section div
    {
        width: 152px;
        height: 34px;
        margin: 16px 44px;
        line-height: 34px;
    }
    
    section
    {
        width: 240px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 800px) /*Tablettes en orientation paysage et laptops de basse resolution*/
{
    .main_wrapper
    {
        width: 800px;
        padding: 40px;
    }

    .main_wrapper img
    {
        height: 100px;
        width: 100px;
        margin: 30px 100px;
    }

    .main_wrapper p
    {
        width: 240px;
        margin: 20px 30px 0px 30px;
        font-size: 18px;
        height: 320px;
    }

    .main_wrapper h1
    {
        width: 736px;
        font-size: 30px;
    }

    .main_wrapper h2
    {
        width: 240px;
        margin: 0px 30px;
        font-size: 24px;
        height: 60px;
    }

    .main_wrapper a
    {
        font-size: 24px;
    }

    section div
    {
        width: 190px;
        height: 43px;
        margin: 20px 55px;
        line-height: 43px;
    }
    
    section
    {
        width: 300px;
    }
}

@media screen and (max-width: 799px) and (min-width: 600px) /*Tablettes en orientation portrait*/
{
    .main_wrapper
    {
        width: 600px;
        padding: 32px;
    }

    .main_wrapper img
    {
        height: 80px;
        width: 80px;
        margin: 24px 80px;
    }

    .main_wrapper p
    {
        width: 192px;
        margin: 16px 24px 0px 24px;
        font-size: 14px;
        height: 256px;
    }

    .main_wrapper h1
    {
        width: 572px;
        font-size: 24px;
    }

    .main_wrapper h2
    {
        width: 192px;
        margin: 0px 24px;
        font-size: 19px;
        height: 48px;
    }

    .main_wrapper a
    {
        font-size: 19px;
    }

    section div
    {
        width: 152px;
        height: 34px;
        margin: 16px 44px;
        line-height: 34px;
    }
    
    section
    {
        width: 240px;
    }
}

@media screen and (max-width: 599px) and (min-width: 480px) /*Telephones en orientaion paysage*/
{
    .main_wrapper
    {
        width: 480px;
        padding: 40px;
    }

    .main_wrapper img
    {
        height: 100px;
        width: 100px;
        margin: 30px 100px;
    }

    .main_wrapper p
    {
        width: 240px;
        margin: 20px 30px 0px 30px;
        font-size: 18px;
        height: 320px;
    }

    .main_wrapper h1
    {
        width: 458px;
        font-size: 30px;
    }

    .main_wrapper h2
    {
        width: 240px;
        margin: 0px 30px;
        font-size: 24px;
        height: 60px;
    }

    .main_wrapper a
    {
        font-size: 24px;
    }

    section div
    {
        width: 190px;
        height: 43px;
        margin: 20px 55px;
        line-height: 43px;
    }
    
    section
    {
        width: 300px;
    }
}

@media screen and (max-width: 479px) /*Telephones en mode portrait*/
{
    .main_wrapper
    {
        width: 320px;
        padding: 40px;
    }

    .main_wrapper img
    {
        height: 100px;
        width: 100px;
        margin: 30px 100px;
    }

    .main_wrapper p
    {
        width: 240px;
        margin: 20px 30px 0px 30px;
        font-size: 18px;
        height: 320px;
    }

    .main_wrapper h1
    {
        width: 305px;
        font-size: 30px;
    }

    .main_wrapper h2
    {
        width: 240px;
        margin: 0px 30px;
        font-size: 24px;
        height: 60px;
    }

    .main_wrapper a
    {
        font-size: 24px;
    }

    section div
    {
        width: 190px;
        height: 43px;
        margin: 20px 55px;
        line-height: 43px;
    }
    
    section
    {
        width: 300px;
    }
}